
.wufoo .info h2{
    font-weight: 900;
    align-content: center;
    color: red;
    font-style: unset;
    
}


/* testing testing hellorewgfgfrefvrefv rwqgfqvrqvaeragvervgaqecvfdsc dvsavdv
vadsgvdefveadfvcd
eavgedvefdvdvs
efdsvfdav */